RewriteEngine On

RewriteBase /

RewriteRule ^([-_\w]+)/?$ ?controler=$1 [L]

RewriteRule ^([-_\w]+)/([-_\w]+)/?$ ?controler=$1&action=$2 [L]

RewriteRule ^([-_\w]+)/([-_\w]+)/([-_.\w]+)/?$ ?controler=$1&action=$2&id=$3 [QSA,L]

